.navbar-transparent {
    background-color: $navbar-transparent-bg;
    border-color: $navbar-transparent-border;
  
    .navbar-brand {
      color: $navbar-transparent-brand-color;
      &:hover,
      &:focus {
        color: $navbar-transparent-brand-hover-color;
        background-color: $navbar-transparent-brand-hover-bg;
      }
    }
  
    .navbar-text {
      color: $navbar-transparent-color;
    }
  
    .navbar-nav {
      > li > a {
        color: $navbar-transparent-link-color;
  
        &:hover,
        &:focus {
          color: $navbar-transparent-link-hover-color;
          background-color: $navbar-transparent-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-transparent-link-active-color;
          background-color: $navbar-transparent-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-transparent-link-disabled-color;
          background-color: $navbar-transparent-link-disabled-bg;
        }
      }
    }
  
    // Darken the responsive nav toggle
    .navbar-toggle {
      border-color: $navbar-transparent-toggle-border-color;
      &:hover,
      &:focus {
        background-color: $navbar-transparent-toggle-hover-bg;
      }
      .icon-bar {
        background-color: $navbar-transparent-toggle-icon-bar-bg;
      }
    }
  
    .navbar-collapse,
    .navbar-form {
      border-color: darken($navbar-transparent-bg, 7%);
    }
  
    // Dropdowns
    .navbar-nav {
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-transparent-link-active-bg;
          color: $navbar-transparent-link-active-color;
        }
      }
  
      @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display
        .open .dropdown-menu {
          > .dropdown-header {
            border-color: $navbar-transparent-border;
          }
          .divider {
            background-color: $navbar-transparent-border;
          }
          > li > a {
            color: $navbar-transparent-link-color;
            &:hover,
            &:focus {
              color: $navbar-transparent-link-hover-color;
              background-color: $navbar-transparent-link-hover-bg;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-transparent-link-active-color;
              background-color: $navbar-transparent-link-active-bg;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-transparent-link-disabled-color;
              background-color: $navbar-transparent-link-disabled-bg;
            }
          }
        }
      }
    }
  
    .navbar-link {
      color: $navbar-transparent-link-color;
      &:hover {
        color: $navbar-transparent-link-hover-color;
      }
    }
  
    .btn-link {
      color: $navbar-transparent-link-color;
      &:hover,
      &:focus {
        color: $navbar-transparent-link-hover-color;
      }
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:focus {
          color: $navbar-transparent-link-disabled-color;
        }
      }
    }
  }